In [18]:
#https://towardsdatascience.com/random-forest-in-python-24d0893d51c0

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd
# pd.options.display.float_format = '{:,.2f}'.format

from IPython.core.display import HTML
HTML("<style>.container{ width: 100% !important; }</style>")

In [1]:
# Read in data and display first 5 rows
features = pd.read_csv('../Downloads/temps.csv')
features.head(5)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [2]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)

# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,46.0,44,46,46,46,41,0,0,0,0,0,1,0

In [ ]:
#features.head()
#features.drop('actual', axis = 1).head()
# list(features.columns)
np.array(features)

In [16]:
# Labels are the values we want to predict
labels = np.array(features['actual'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('actual', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [19]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [27]:
train_features.size
test_features.size
train_labels
test_labels

4437

1479

array([71, 59, 76, 57, 54, 54, 52, 82, 35, 41, 48, 80, 68, 39, 85, 79, 52,
       76, 53, 41, 48, 61, 77, 68, 46, 43, 71, 62, 67, 74, 57, 52, 59, 54,
       47, 55, 66, 54, 40, 45, 67, 70, 45, 65, 67, 57, 61, 72, 76, 55, 67,
       73, 57, 54, 75, 66, 65, 60, 59, 58, 52, 51, 51, 64, 68, 55, 62, 44,
       63, 64, 40, 68, 71, 76, 65, 71, 57, 35, 75, 71, 75, 77, 57, 49, 90,
       68, 59, 87, 68, 68, 40, 46, 64, 52, 71, 79, 68, 86, 72, 41, 64, 58,
       67, 74, 59, 73, 55, 75, 63, 58, 48, 51, 65, 81, 80, 73, 60, 76, 69,
       56, 46, 55, 57, 64, 74, 49, 65, 55, 53, 52, 75, 66, 68, 65, 83, 60,
       76, 62, 73, 79, 77, 55, 63, 60, 85, 63, 57, 42, 66, 65, 44, 45, 53,
       59, 52, 59, 79, 77, 55, 72, 80, 68, 68, 58, 49, 72, 64, 71, 67, 51,
       51, 71, 52, 56, 61, 68, 63, 60, 63, 59, 60, 64, 81, 50, 54, 48, 67,
       56, 49, 60, 72, 50, 77, 88, 75, 46, 76, 40, 50, 60, 75, 66, 55, 73,
       77, 61, 89, 61, 44, 51, 54, 83, 49, 64, 60, 59, 68, 71, 49, 71, 60,
       65, 42, 71, 55, 39, 68, 60, 51, 78, 74, 57, 71, 73, 55, 53, 74, 77,
       57, 48, 70, 62, 75, 63, 63, 54, 75, 82, 80, 60, 73, 39, 79, 60, 40,
       52, 74, 51, 81, 60, 60])

array([66, 61, 52, 66, 70, 82, 85, 84, 65, 92, 61, 85, 44, 65, 69, 62, 64,
       56, 53, 79, 63, 57, 67, 62, 59, 56, 65, 52, 66, 76, 64, 61, 48, 81,
       77, 57, 58, 47, 68, 51, 77, 56, 73, 51, 59, 87, 58, 81, 58, 42, 49,
       40, 65, 64, 70, 65, 53, 57, 53, 60, 67, 49, 53, 69, 55, 68, 76, 69,
       78, 36, 74, 57, 69, 50, 56, 67, 48, 80, 48, 49, 57, 77, 81, 67, 66,
       57, 45])

In [70]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels);

In [71]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)

# Calculate the absolute errors
errors = abs(predictions - test_labels)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.87 degrees.

In [33]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 93.94 %.

In [44]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]

# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]

# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)

# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')

# Write graph to a png file
graph.write_png('tree.png')

In [57]:
# Get numerical feature importances
importances = list(rf.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: temp_1               Importance: 0.66
Variable: average              Importance: 0.15
Variable: forecast_noaa        Importance: 0.05
Variable: forecast_acc         Importance: 0.03
Variable: day                  Importance: 0.02
Variable: temp_2               Importance: 0.02
Variable: forecast_under       Importance: 0.02
Variable: friend               Importance: 0.02
Variable: month                Importance: 0.01
Variable: year                 Importance: 0.0
Variable: week_Fri             Importance: 0.0
Variable: week_Mon             Importance: 0.0
Variable: week_Sat             Importance: 0.0
Variable: week_Sun             Importance: 0.0
Variable: week_Thurs           Importance: 0.0
Variable: week_Tues            Importance: 0.0
Variable: week_Wed             Importance: 0.0

In [77]:
!jupyter nbconvert --to script randomForest.ipynb

[NbConvertApp] Converting notebook randomForest.ipynb to script
[NbConvertApp] Writing 3559 bytes to randomForest.py