In [1]:
import seaborn.apionly as sns
iris = sns.load_dataset('iris')
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
iris.head(3)
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
%%cmd
git config --global core.autocrlf true
git add .
git commit -m "msg"
git push origin master

Microsoft Windows [Version 6.2.9200]
(c) 2012 Microsoft Corporation. All rights reserved.

C:\Users\Nathan\py>git config --global core.autocrlf true

C:\Users\Nathan\py>git add .

C:\Users\Nathan\py>git commit -m "msg"
[master c570145] msg
 1 file changed, 2 insertions(+), 2 deletions(-)

C:\Users\Nathan\py>git push origin master

C:\Users\Nathan\py>

To https://github.com/mondayn/py.git
   6e3829b..c570145  master -> master